@import "./variable.scss";

.boutons{
    padding: 0px 100px;
    margin: 20px 0px;
}

.bouton__tous{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: $primary-color;
    border-radius: 30px;
    border-color: #FFFFFF;
}

.bouton__categorie{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding: 5px 20px;
    color: $primary-color;
    background-color: #ffffff;
    border-radius: 30px;
    border-color: $primary-color;
    margin: 0px 10px;
    &:hover {
        border-color: #FFFFFF;
        color: #FFFFFF;
        background-color: $primary-color;
    }
    &:active{
        border-color: #FFFFFF;
        color: #FFFFFF;
        background-color: $primary-color;
    }
}