@import "./variable.scss";

.card__theme__projet {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px; 
  background-color: white;
  text-decoration: none;
  border: 2px solid $primary-color;
  border-radius: 10px;
  &__img {
    width: 100%;
    object-fit:cover;
    border-radius: 10px 10px 0px 0px; 
  }
  &__title {
    color: $primary-color;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
  }
  &__subtitle {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 0px 15px 15px 15px;
    text-decoration: none;
  }
}

.card__themeProjet{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 100px;
    border-radius: 25px;
    @media (max-width: 768px) {
        justify-content: space-between;
        padding: 0px;
        margin: 0px 20px 0px 20px;
        background-color: $color-white;
    }
    &__article{
        width: 30%;
        color: $color-white;
        text-decoration: none;
        @media (max-width: 995px) {
            width: 100%;
            height: auto;
            padding-bottom: 10px;
        }
        & a{
            text-decoration: none;
        }
    }
}

.sous-titre-themeProjet{
    color: $primary-color;
    @include h2;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    text-decoration-color:$secondary-color;
    padding-bottom: 20px;
    padding-left: 100px;
}