@import "./variable.scss";

.erreur{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__titre{
        @include erreur__titre;
        color: $primary-color;
    }
    &__soustitre{
        @include erreur__soustitre;
        color: $primary-color;
    }
    &__img{
        max-width: 800px;
    }
}