@import "./variable.scss";

.card__lastprojet{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 100px;
    border-radius: 25px;
    @media (max-width: 768px) {
        justify-content: space-between;
        padding: 0px;
        margin: 0px 20px 0px 20px;
    }
    &__article{
        width: 30%;
        color: $color-white;
        text-decoration: none;
        @media (max-width: 768px) {
            width: 100%;
            height: auto;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        & a{
            text-decoration: none;
        }
    }
}

.sous-titre-lastprojet{
    color: white;
    @include h2;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    text-decoration-color:$secondary-color;
    padding-bottom: 20px;
}

.lastprojet{
    background-color: $primary-color;
    padding: 20px 0px;
}