@import "./variable.scss";

.projet{
    padding: 0px 100px;
}

.projet__cover{
    width: 100%;
    height: auto;
}

.projet__cover__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.groupe__tags__github{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
}

.tags__groupe{
    display: flex;
    
}

.github__bloc{
    background-color: $primary-color;
    border-radius: 30px;
    display: flex;
    width: auto;
    padding: 5px 20px;
}
.github__texte{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px;
}

.lien__git{
    text-decoration: none;
}

.github__logo{
    padding: 0px 20px 0px 0px;
}

.projet__titre{
    font-family: "Galada", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    color: $primary-color;
    padding: 0px;
    line-height: 0px;
    
}

.projet__texte{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    padding: 0px;
}

.gui{
    padding: 50px 0px;
}

.projet__gui__img{
    width: 100%;
    height: auto;
}

.img__groupe{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.img__solo{
    width: 48%;
    margin-bottom: 20px;
}

.mockup__groupe{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.mockup__solo{
    width: 48%;
    object-fit: cover;
}