@import "./variable.scss";

.tag{
    justify-content: flex-start;
    padding-right: 20px;
    @media (max-width: 768px) {
        padding-bottom: 20px;
    }
    &__title{
        @include projet__tag;
        color: #FFFFFF;
        background-color: $primary-color;
        border-radius: 30px;
        padding: 5px 20px;
        margin: 0px;
    }  
}