@import "./variable.scss";

.card__thematique{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 100px ;
    border-radius: 25px;
    @media (max-width: 768px) {
        justify-content: space-between;
        padding: 0px;
        margin: 0px 20px 0px 20px;
        background-color: $color-white;
    }
    &__article{
        width: 22%;
        height: 340px;
        bottom: 0;
        color: $color-white;
        text-decoration: none;
        @media (max-width: 995px) {
            width: 100%;
            height: auto;
            padding-bottom: 10px;
        }
    }
}

.sous-titre{
    color: $primary-color;
    @include h2;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    text-decoration-color:$secondary-color;
    padding-bottom: 20px;
}