$primary-color: #3A55A1;
$secondary-color: #EAC9BF;
$color-white: #ffffff;
$color-black: #000000;

@mixin title-banner {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    @media (max-width: 768px) {
        font-size: 30px;
    }
}

@mixin link-banner {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    @media (max-width: 768px) {
        font-size: 20px;
    }
}

@mixin link-resume {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    @media (max-width: 768px) {
        font-size: 20px;
    }
}

@mixin title-profile-titre {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    @media (max-width: 768px) {
        font-size: 35px;
    }
}

@mixin title-profile-texte {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

@mixin h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

